XMLPractice/Connected Services/BillerInvoice/efaktura.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://efaktura.bg/soap/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="efaktura" targetNamespace="https://efaktura.bg/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://efaktura.bg/soap/">
      <xsd:simpleType name="AlphaNumType">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9|A-Z|a-z|А-Я|а-я]+" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AlphaNumIDType">
        <xsd:restriction base="tns:AlphaNumType">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DateType">
        <xsd:restriction base="xsd:date">
          <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="InvoiceTypeCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INV" />
          <xsd:enumeration value="KTN" />
          <xsd:enumeration value="DTN" />
          <xsd:enumeration value="OTHER" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="InvoiceTypeTextType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SDXTypeCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SDX" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SDXTypeTextType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LanguageType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="bul" />
          <xsd:enumeration value="eng" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="authorizationIdType">
        <xsd:restriction base="xsd:base64Binary" />
      </xsd:simpleType>
      <xsd:simpleType name="authorizationKeyType">
        <xsd:restriction base="xsd:base64Binary" />
      </xsd:simpleType>
      <xsd:simpleType name="VATIdentificationNumberType">
        <xsd:restriction base="tns:AlphaNumIDType" />
      </xsd:simpleType>
      <xsd:simpleType name="IdentificationNumberType">
        <xsd:restriction base="tns:AlphaNumIDType" />
      </xsd:simpleType>
      <xsd:simpleType name="InvoiceNumberType">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{10}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="errTextType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StatusCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,4}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StatusNameType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PeriodTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="InvoiceSendDate" />
          <xsd:enumeration value="InvoiceDate" />
          <xsd:enumeration value="InvoiceDueDate" />
          <xsd:enumeration value="InvoiceStatusChanged" />
          <xsd:enumeration value="SDXDate" />
          <xsd:enumeration value="SDXStatusChanged" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ResultCodeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="VOK" />
          <xsd:enumeration value="NOK" />
          <xsd:enumeration value="ERR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EmailType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BillerType">
        <xsd:sequence>
          <xsd:element name="VATIdentificationNumber" type="tns:VATIdentificationNumberType" />
          <xsd:element minOccurs="0" name="IdentificationNumber" type="tns:IdentificationNumberType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceTypeType">
        <xsd:sequence>
          <xsd:element name="InvoiceTypeCode" type="tns:InvoiceTypeCodeType" />
          <xsd:element name="InvoiceTypeText" type="tns:InvoiceTypeTextType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceTypesType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="InvoiceType" type="tns:InvoiceTypeType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceStatusType">
        <xsd:sequence>
          <xsd:element name="StatusCode" type="tns:StatusCodeType" />
          <xsd:element name="StatusName" type="tns:StatusNameType" />
          <xsd:element minOccurs="0" name="StatusRegTimeStamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="StatusActor" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceStatusesType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="InvoiceStatus" type="tns:InvoiceStatusType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilterPeriodType">
        <xsd:sequence>
          <xsd:element name="PeriodType" type="tns:PeriodTypeType" />
          <xsd:element name="PeriodFrom" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="PeriodTo" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestFilterType">
        <xsd:choice>
          <xsd:element minOccurs="0" name="InvoiceNumber" type="tns:InvoiceNumberType" />
          <xsd:sequence>
            <xsd:element minOccurs="0" name="VATIdentificationNumber" type="tns:VATIdentificationNumberType" />
            <xsd:element minOccurs="0" name="IdentificationNumber" type="tns:IdentificationNumberType" />
            <xsd:element minOccurs="0" name="ActorID" type="tns:AlphaNumIDType" />
            <xsd:element minOccurs="0" name="Email" type="tns:EmailType" />
            <xsd:element minOccurs="0" name="NewOnly" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="InvoiceTypes" type="tns:InvoiceTypesType" />
            <xsd:element minOccurs="0" name="InvoiceStatuses" type="tns:InvoiceStatusesType" />
            <xsd:element minOccurs="0" name="Period" type="tns:FilterPeriodType" />
          </xsd:sequence>
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name="BillerInvoicesRequestType">
        <xsd:sequence>
          <xsd:element name="authorizationId" type="tns:authorizationIdType" />
          <xsd:element name="authorizationKey" type="tns:authorizationKeyType" />
          <xsd:element minOccurs="0" name="RequestLanguage" type="tns:LanguageType" />
          <xsd:element minOccurs="0" name="Filter" type="tns:RequestFilterType" />
          <xsd:element minOccurs="0" name="LastStatus" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BillerInvoicesResponseType">
        <xsd:sequence>
          <xsd:element name="ResponseLanguage" type="tns:LanguageType" />
          <xsd:element name="Biller" type="tns:BillerType" />
          <xsd:element name="Filter" type="tns:RequestFilterType" />
          <xsd:element minOccurs="0" name="LastStatus" type="xsd:boolean" />
          <xsd:element name="Recipients" type="tns:RecipientsType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CancelInvoiceRequestType">
        <xsd:sequence>
          <xsd:element name="authorizationId" type="tns:authorizationIdType" />
          <xsd:element name="authorizationKey" type="tns:authorizationKeyType" />
          <xsd:element name="invoiceDate" type="tns:DateType" />
          <xsd:element name="invoiceNumber" type="tns:InvoiceNumberType" />
          <xsd:element minOccurs="0" name="requestLanguage" type="tns:LanguageType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CancelInvoiceResponseType">
        <xsd:sequence>
          <xsd:element name="Response" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecipientsType">
        <xsd:sequence maxOccurs="unbounded">
          <xsd:element name="Recipient" type="tns:RecipientType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RecipientType">
        <xsd:sequence>
          <xsd:element name="VATIdentificationNumber" type="tns:VATIdentificationNumberType" />
          <xsd:element minOccurs="0" name="IdentificationNumber" type="tns:IdentificationNumberType" />
          <xsd:element name="Invoices" type="tns:InvoicesType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoicesType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Invoice" type="tns:InvoiceType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceType">
        <xsd:sequence>
          <xsd:element name="InvoiceNumber" type="tns:InvoiceNumberType" />
          <xsd:element name="InvoiceDate" type="tns:DateType" />
          <xsd:element minOccurs="0" name="UID" type="xsd:string" />
          <xsd:element name="InvoiceStatuses" type="tns:InvoiceStatusesType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BillerInvoicesRequest" type="tns:BillerInvoicesRequestType" />
      <xsd:element name="BillerInvoicesResponse" type="tns:BillerInvoicesResponseType" />
      <xsd:element name="CancelInvoiceRequest" type="tns:CancelInvoiceRequestType" />
      <xsd:element name="CancelInvoiceResponse" type="tns:CancelInvoiceResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BillerInvoicesRequest">
    <wsdl:part name="BillerInvoicesRequest" element="tns:BillerInvoicesRequest" />
  </wsdl:message>
  <wsdl:message name="BillerInvoicesResponse">
    <wsdl:part name="parameters" element="tns:BillerInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="CancelInvoiceRequest">
    <wsdl:part name="CancelInvoiceRequest" element="tns:CancelInvoiceRequest" />
  </wsdl:message>
  <wsdl:message name="CancelInvoiceResponse">
    <wsdl:part name="parameters" element="tns:CancelInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="BillerInvoicesWebServicePort">
    <wsdl:operation name="getBillerInvoices">
      <wsdl:input name="getBillerInvoices" message="tns:BillerInvoicesRequest" />
      <wsdl:output message="tns:BillerInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelInvoice">
      <wsdl:input name="cancelInvoice" message="tns:CancelInvoiceRequest" />
      <wsdl:output message="tns:CancelInvoiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillerInvoicesWebServiceBinding" type="tns:BillerInvoicesWebServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBillerInvoices">
      <soap:operation soapAction="https://efaktura.bg/soap/BillerInvoicesWebService#getBillerInvoices" />
      <wsdl:input name="getBillerInvoices">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvoice">
      <soap:operation soapAction="https://efaktura.bg/soap/BillerInvoicesWebService#cancelInvoice" />
      <wsdl:input name="cancelInvoice">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillerInvoicesWebService">
    <wsdl:port name="BillerInvoicesWebServicePort" binding="tns:BillerInvoicesWebServiceBinding">
      <soap:address location="https://efaktura.bg/soap/BillerInvoices.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>